<ion-content>
  <div class="logo">
    <ion-img src="../../assets/Logos/journal_logo.png"></ion-img>
  </div>
  <div class="titulo">
    <h1>LOGIN</h1>
  </div>

  <div class="loginForm">
    <form action="" method="post">
      <div class="two">
        <ion-input placeholder="User"></ion-input>
      </div>

      <div class="three">
        <ion-input type="password" placeholder="password"></ion-input>
      </div>
      <ion-label
        ><a href="#">I have forgotten my password or user</a>
      </ion-label>
      <ion-button>Login</ion-button>
    </form>
  </div>
</ion-content>
