<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">Solid Snake</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">Liquid Snake</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="9">
        <div class="texto">Solidus Snake</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="3">
        <div class="texto">Naked Snake</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="mycolor" [routerLink]="['/clientes']"
    >Go to clientes</ion-button
  >
</ion-content>
