<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{todayDate | date: 'longDate'}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journal</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper">
    <ion-item lines="inset">
      <ion-label position="stacked">How are you feeling?</ion-label>
      <br />
      <ion-input placeholder="Today I'm feeling..."></ion-input>
      <!-- TODO: placeholder should show 'happy', 'meh', or 'sad' depending on the icon pressed by the user on the home tab -->
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="stacked">What contributed to it?</ion-label>

      <form (ngSubmit)="addContribution()">
        <ion-input
          name="content"
          id="content"
          class="content"
          [(ngModel)]="new.content"
          placeholder="Today I..."
        ></ion-input>
      </form>

      <ul>
        <li *ngFor="let contribution of contributions">{{contribution}}</li>
      </ul>

      <!-- TODO: it should add a new li element when the input in the first li has been filled -->
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="stacked">What did you do today?</ion-label>

      <form (ngSubmit)="addStuffDone()">
        <ion-input
          name="stuff"
          id="stuff"
          class="stuff"
          [(ngModel)]="new2.stuff"
          placeholder="Today I did..."
        ></ion-input>
      </form>
      <ul>
        <li *ngFor="let stuff of stuffdone">{{stuff}}</li>
      </ul>
      <!-- TODO: it should add a new li element when the input in the first li has been filled -->
    </ion-item>
    <div class="bSaveBlock">
      <ion-item lines="none">
        <ion-button>Save journal</ion-button>
      </ion-item>
    </div>
  </div>
</ion-content>
