<ion-header> </ion-header>

<ion-content>
  <div class="contenedor">
    <div class="prefacio">
      <span>Record your <span class="highlight">feelings</span></span>
      <span>Your habbits</span>
      <span>The stuff you <span class="highlight">love</span></span>
      <span
        >Your <span class="highlight">wants</span> and
        <span class="highlight">needs</span></span
      >
      <span>Figure out who you are</span>
      <span>What makes you <span class="highlight">happy</span></span>
      <span>Avoid harm</span>
      <span class="highlight">Love Life</span>
    </div>

    <div class="buttons">
      <div class="b1">
        <ion-button> <a href="login">Login</a></ion-button>
      </div>
      <div class="b2">
        <ion-button><a href="signup">Sign up</a></ion-button>
      </div>
    </div>
  </div>
</ion-content>
