<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="greeting">
    <h1>Hello, sunshine!</h1>
    <h2>How was your day?</h2>
  </div>
  <div class="choice" (click)="presentAlert($event)">
    <button id="bGreat">
      <img
        class="moodsticker"
        src="../../assets/mood_stickers/smile.png"
        alt="great"
      />
    </button>
    <button id="bMeh">
      <img
        class="moodsticker"
        src="../../assets/mood_stickers/nope.png"
        alt="meh"
      />
    </button>
    <button id="bBad">
      <img
        class="moodsticker"
        src="../../assets/mood_stickers/what.png"
        alt="bad"
      />
    </button>
  </div>
  <div class="quoteBox" *ngFor="let quote of quotes">
    <span>{{quote}}</span>
  </div>
</ion-content>
