.greeting{
    text-align: center;
}
.choice{
    text-align: center;
    margin-top: 25px;
}
.moodsticker{
    width: 80px;
    height: auto;
}
button{
    background-color: transparent;
}

button:hover{
    background-color: #43344b;
    border-radius: 40%;
}

