.titulo{
    text-align: center;
   
}

.loginForm{
    text-align: center;
}
form{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ion-input{
    margin-top: 8px;
    background-color: darkgrey;
    border-radius: 10px;
}
.four{
    width: 170px;
    height: 38.9833px;
}
.five{
    width: 100%;
    margin-top: 40px;
}

div{
    margin-top: 10px;
}

