<ion-content>
  <div class="logo">
    <ion-img src="../../assets/Logos/journal_logo.png"></ion-img>
  </div>
  <div class="titulo">
    <h1>SIGN UP</h1>
  </div>

  <div class="loginForm">
    <form action="" method="post">
      <div class="one">
        <ion-label position="stacked">Email: </ion-label>
        <ion-input></ion-input>
      </div>
      <div class="two">
        <ion-label position="stacked">User: </ion-label>
        <ion-input></ion-input>
      </div>
      <div class="three">
        <ion-label position="stacked">Password: </ion-label>
        <ion-input type="password"></ion-input>
      </div>
      <div class="four">
        <ion-label position="stacked">Birthdate: </ion-label>
        <ion-input type="date"></ion-input>
      </div>
      <div class="five">
        <ion-button>Register</ion-button>
      </div>
    </form>
  </div>
</ion-content>
